header, footer {
    background-color: #003366;
    color: #ffffff;
}

body {
    background-color: #111a22;
    margin: 0;
}

.content-section {
    background-color: #061a29;
    color: #ffffff;
    padding: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    background-color: #004d99;
    border: none;
    color: #ffffff;
}

.btn:hover {
    background-color: #003366;
}

.logo img {
    max-height: 50px;
}

.content-section {
    background-color: #052033;
    color: #f7f7f7;
}

.logo-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #e3f2fd;
}

.nav-links i {
    margin-right: 8px;
}

#sobre-mi {
    background-color: #071927;
    color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
}

#sobre-mi h2 {
    color: #e3f2fd;
}

#sobre-mi p {
    color: #ffffff;
}

#sobre-mi img {
    border: 3px solid #004d99;
}

#experiencia {
    background-color: #04375e;
    color: #f7f7f7;
    padding: 40px 20px;
}

#experiencia h2 {
    color: #e3f2fd;
}

.nav-tabs .nav-link {
    color: #ffffff;
    background-color: #003366;
    border: none;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link.active {
    background-color: #004d99;
    color: #e3f2fd;
}

.tab-content .card {
    background-color: #052033;
    color: #ffffff;
    border: none;
}

.tab-content .card-body {
    padding: 20px;
}

.tab-content h3.card-title {
    color: #e3f2fd;
}

.tab-content ul.list-unstyled li i {
    color: #004d99;
    margin-right: 8px;
}

.skill-section {
    border: 2px solid #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(6, 26, 41, 0.8);
}

.skill-section h5 {
    color: #e3f2fd;
}

.social-links {
    margin-top: 20px;
}

.social-icon {
    color: #e3f2fd;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #42a5f5;
}
.card-title {
    color: #FFA500 !important; /* Color naranja */
}